html,body{
    height:100% ;
    margin:0;
    padding:0;


}
#container {
display:grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
width: 50%;
height: 80%;
background-color: black;
margin: 20px auto 0;
grid-gap: 3px;
padding: 3px;

}
#container > div{
    background-color: lightblue;
    font: normal 28pt sans-serif;
    display: flex;
    justify-content:center;
    align-items: center;
    user-select: none;
}
#container > div:hover{
    background-color: bisque;
}
